<div class="left-sidebar">
    <!-- 用户信息 -->
    <div class="tpl-sidebar-user-panel">
        <div class="tpl-user-panel-slide-toggleable">
            <div class="tpl-user-panel-profile-picture">
                <img src="../../static/assets/img/user04.png" alt="">
            </div>
            <span class="user-panel-logged-in-text">
                <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                积募小助手
            </span>
        </div>
    </div>

    <!-- 菜单 -->
    <ul class="sidebar-nav">
        <li class="sidebar-nav-heading">小程序-资晓后台<span class="sidebar-nav-heading-info"></span></li>
        <li class="sidebar-nav-link sidebar-nav-links">
            <a href="../banner/banner.html">
                <i class="am-icon-wpforms sidebar-nav-link-logo"></i>banner
            </a>
        </li>
        <li class="sidebar-nav-link sidebar-nav-links">
            <a href="../points/points.html">
                <i class="am-icon-wpforms sidebar-nav-link-logo"></i>积分
            </a>
        </li>
        <li class="sidebar-nav-link sidebar-nav-links">
            <a href="../topic/topic.html" class="active">
                <i class="am-icon-home sidebar-nav-link-logo"></i>话题
            </a>
        </li>
        <li class="sidebar-nav-link sidebar-nav-links">
            <a href="../knowtree/knowtree.html?page=1">
                <i class="am-icon-wpforms sidebar-nav-link-logo"></i>知识树
            </a>
        </li>
        <li class="sidebar-nav-link sidebar-nav-links">
            <a href="../switch/switch.html">
                <i class="am-icon-calendar  sidebar-nav-link-logo"></i>审核开关
            </a>
        </li>
        <!--<li class="sidebar-nav-heading">Page<span class="sidebar-nav-heading-info"> 常用页面</span></li>-->
        <li class="sidebar-nav-link sidebar-nav-links">
            <a href="javascript:void(0)" class="sidebar-nav-sub-title">
                <i class="am-icon-table sidebar-nav-link-logo"></i> 审核流程
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
                <li class="sidebar-nav-link sidebar-nav-linkc">
                    <!--sub-active-->
                    <a href="../au_askqsn/au_askqsn.html?page=1" class="">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 审核问题
                    </a>
                </li>
                <li class="sidebar-nav-link sidebar-nav-linkc">
                    <a href="../au_answer/au_answer.html?page=1">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 审核答案
                    </a>
                </li>
                <!--<li class="sidebar-nav-link sidebar-nav-linkc">-->
                    <!--<a href="../au_discuss/au_discuss.html?page=1">-->
                        <!--<span class="am-icon-angle-right sidebar-nav-link-logo"></span> 审核评论-->
                    <!--</a>-->
                <!--</li>-->
                <li class="sidebar-nav-link sidebar-nav-linkc">
                    <a href="../re_qsn/re_qsn.html?page=1">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 举报问题
                    </a>
                </li>
                <li class="sidebar-nav-link sidebar-nav-linkc">
                    <a href="../re_answer/re_answer.html?page=1">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 举报答案
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>